.carousel-caption h5{
    font-size: 3rem;
    color: white;
}
.carousel-caption p{
    font-size: .8rem;
    color: white;
}
.card-text{
    font-size: .8rem;
}
.info-section p{
    font-size: .7rem;
}
.read-more{
    width: 150px;
}


.social-media-icons i{
    color: lightgray;
    font-size: 2rem;
}
.social-media-icons i:hover{
    color: aqua;
}